<form v-on:submit.prevent="guardarAlquiler" data-accion="nuevo" data-idalquiler='' id="frm-alquiler" method="post">
    <div class="card text-white bg-dark mb-3" style="max-width: 24rem;">
        <div class="card-header">
            ALQUILER 
        
            <button type="button" id="btn-close-alquiler" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="card-body">
            <div class="row row-cols-1 p-1">
                <div class="row-col">
                    <div class="col-6 float-left">
                        FECHA DE PRESTAMO
                        <input type="date" required v-model="alquiler.fechaprestamo" class="form-control form-control-sm">
                    </div>
                    <div class="col-6 float-right">
                        FECHA DE DEVOLUCION
                        <input type="date" required v-model="alquiler.fechaprestamo" class="form-control form-control-sm">
                    </div>
                </div>
            </div>
            <div class="row-col">
                <div class="col-6 float-left">
                    PELICULA
                    <v-select class="bg-primary" v-model="alquiler.pelicula":options="pelicula" placeholder="Pelicula" />
                </div>
                <div class="col-6 float-right">
                    CLIENTE
                    <v-select class="bg-primary" v-model="alquiler.cliente":options="cliente" placeholder="Cliente" />
                </div>
            </div>
            <div class="row row-cols-1 p-2">
                <div class="row-col">
                    <div class="col">
                        VALOR
                    </div>
                    <div class="col">
                        <input type="text" required v-model="alquiler.valor" class="form-control form-control-sm">
                    </div>
                </div>
            </div>
            <div class="row p-2"> 
                <div class="col-12 text-center">
                    <input id="btnguardarAlquiler" type="submit" class="btn btn-outline-primary text-white" value="Guardar">
                    <input type="reset" class="btn btn-outline-warning text-white" value="Limpiar">
                    <input type="button" class="btn btn-outline-success mostrar-buscar-alquiler text-white" data-modulo="alquiler" data-form="buscar-alquiler" value="Buscar">
                </div>
            </div>
            <div class="row p-2">
                <div class="col-12 text-center">
                    <div class="alert alert-success" role="alert">
                        {{ alquiler.msg }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script src="public/vistas/alquiler/alquiler.js"></script>